body {
    height: 100%;
    background-image: url(/Images/neo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana;
    overflow: hidden;
    
}

header {
    width: 100%;
    height: 5%;
    background-color: rgb(19, 19, 19);
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 10;
}

nav {
    width: 50%;
    height: 200%;
    background-color: rgba(112, 128, 144, 0);
    margin-top: 5px;
    display: flex;
    align-items: center;
    
}
ul {
    background-color: rgba(0, 0, 255, 0);
    width: 100%;
    margin-left: -5%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

li {
    background-color: rgb(19, 19, 19);
    border: solid 2px red; 
    border-top: 0px;
    color: red;
    font-size: 90%;
}
li {
    text-align: center;
    width: 15%;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    margin: 20px;
}


.overflow {
    width: 96%;
    height: 95%;
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}


/*--------------- TOP SECTION ---------------*/
.topsection {
    width: 100%;
    height: 1000px;
    background-color: rgba(71, 61, 139, 0);
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.mainlogo {
    width: 45%;
    height: auto;
    margin-top: 5%;
    position: absolute;
    z-index: 9;

    filter: drop-shadow(8px 5px 1px rgb(226, 0, 75))
        drop-shadow(-8px -5px 1px rgb(255, 110, 134))
        invert(100%);
    /*filter: drop-shadow(1.5px 0 0 white) 
        drop-shadow(0 1.5px 0 white)
        drop-shadow(-1.5px 0 0 white) 
        drop-shadow(0 -1.5px 0 white);*/
}
.secdiv1 {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 6%;
    position: absolute;
}

.intro {
    width: 45%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.023);
    margin-top: 15%;
    position: relative;
    float: left;
    font-size: 130%;
    padding: 5px;
}
.intro {
    background-image: url(/Images/patternoverlay.png);
    background-repeat: repeat;
    background-size: initial;

    border: 0px solid lime;
    color: whitesmoke;
    backdrop-filter: blur(0px);
    box-shadow: 0px 0px 25px rgba(37, 255, 193, 0.3);

    filter: drop-shadow(8px 5px 1px rgb(29,255,180))
        drop-shadow(-8px -5px 1px rgb(0,145,121));
}

.rightcol {
    width: 50%;
    height: 780px;
    background-color: rgba(103, 153, 153, 0);
    margin-top: 15%;
    float: right;
    position: relative;
    z-index: 7;
    display: flex;
    align-items: center;
}
.rightcol_back {
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    height: 780px;
    position: absolute;
}
.rightcol_back_img {
    position: absolute;
    width: 70%;
    height: 450px;
    transform: translate( 140px, -100px);
    z-index: -3;
    filter: contrast(130%);

}

.mainimg {
    width: auto;
    height: 120%;
    transform: translateY(-190px);
    margin-right: auto;
    margin-left: auto;

    /*filter: drop-shadow(1.5px 0 0 rgb(255, 0, 0)) 
        drop-shadow(0 1.5px 0 rgb(255, 0, 0))
        drop-shadow(-1.5px 0 0 rgb(255, 0, 0)) 
        drop-shadow(0 -1.5px 0 rgb(255, 0, 0));*/
}


.skillset {
    width: 85%; 
    height: 150px;
    background-color: rgb(0, 0, 0, 0.089);
    margin-top: 850px;
    margin-left: 0%;
    position: absolute;
    z-index: 8;
    padding: 5px;

    background-image: url(/Images/patternoverlay.png);
    background-repeat: repeat;
    background-size: initial;
    
    box-shadow: 0px 0px 25px rgba(37, 255, 193, 0.3);
    border: 0px solid;
    color: whitesmoke;
    backdrop-filter: blur(10px);

    filter: drop-shadow(8px 5px 1px rgb(29,255,180))
        drop-shadow(-8px -5px 1px rgb(0,145,121));
}


/*-------------- BOTTOM SECTION ---------------*/
.bottomsection {
    width: auto;
    height: 100%;
    background-color: rgba(76, 102, 96, 0);
    display: flex;
    justify-content: center;
}
.secdiv2 {
    width: 80%;
    height: 100%;
    background-color: rgba(103, 255, 255, 0);
    margin-top: 20%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
}
.twod {
    width: 40%;
    height: 80%;
    background-image: url(/Images/Ilsa.png);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 25px rgba(37, 255, 193, 0.3);
    float: left;

    filter: drop-shadow(6px 5px 1px rgb(29,255,180))
        drop-shadow(-6px -5px 1px rgb(0,145,121));
}
.threed {
    width: 40%;
    height: 80%;
    background-image: url(/Images/out3_edited.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 25px rgba(37, 255, 193, 0.3);
    float: right;
    
    filter: drop-shadow(6px 5px 1px rgb(29,255,180))
        drop-shadow(-6px -5px 1px rgb(0,145,121));
}


/*-------------- FOOTER --------------*/
footer {
    width: 100%;
    height: 5%;
    background-color: rgb(19, 19, 19);
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 10;
}


/* ------------ FRAME DESIGN ----------- */

.backdiv {
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    filter: blur(5px);
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);  
    z-index: -9; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/Images/patternoverlay.png);
    background-repeat: repeat;
    background-size: initial;
    opacity: 0.6;
    z-index: -10;
}

.topbar {
    width: 100%;
    height: 5%;
    border-bottom: solid 2px red;
    position: fixed;
    top: 0;
    background-color: rgb(19, 19, 19);
    z-index: 10;
}
.bottombar {
    width: 100%;
    height: 5%;
    border-top: solid 2px red;
    position: fixed;
    bottom: 0;
    background-color: rgb(19, 19, 19);
    z-index: 10;
}
.leftbar {
    width: 2%;
    height: 100%;
    border-right: solid 2px red;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(19, 19, 19);
    z-index: 10;
}
.rightbar {
    width: 2%;
    height: 100%;
    border-left: solid 2px red;
    position: fixed;
    right: 0;
    background-color: rgb(19, 19, 19);
    z-index: 10;
}


/* ------------ SCROLLBAR ----------- */

::-webkit-scrollbar {
    position: absolute;
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.418);
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 28, 46); 
    border-radius: 50px 0px 0px 50px;

} 

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 68, 84); 
}

/* --------------- HOVERS -------------- */

li:hover {
    transform: scale(1.1);
}
.twod:hover {
    transform: scale(1.1);
    transition: 2s ease;
    box-shadow: 0px 0px 40px rgb(84, 255, 227);
}
.threed:hover {
    transform: scale(1.1);
    transition: 2s ease;
    box-shadow: 0px 0px 40px rgb(84, 255, 227);
    
}

@media only screen and (max-width: 650px) {
    .topsection {
        height: 500px;
    }
    
    nav {
        width: 85%;
    }
    ul {
        margin-left: -10%;
    }
    li {
        font-size: 80%;
    }

    .mainlogo {
        width: 210px;
        left: 0;
        margin-left: 7%;
        margin-top: 10%;
    }
    
    .secdiv1, .secdiv2  {
        width: 100%;
        margin-top: 10%;
    }

    .intro {
        width: 90%;
        height: 200px;
        font-size: 70%;        
    }
    .rightcol {
        width: 40%;
        height: 350px;
        position: relative;
        margin-top: -300px;
        z-index: -10;
    }
    .rightcol_back {
        height: 350px;
    }
    .rightcol_back_img {
        width: 90%;
        height: 250px;
        margin-top: 60%;
        margin-left: -60%;
        opacity: 0;
    }
    .mainimg {
        width: auto;
        height: 460px;
        margin-top: 60%;
        margin-left: -30%;
    }

    .skillset {
        width: 90%;
        height: 80px;
        margin-top: 400px;
        margin-left: 0px;
    }
    
    
    .intro { margin-left: 5%; }
    .rightcol { margin-right: 5%; }

    .twod, .threed {
        width: 40%;
        height: 45%;
    }
    .twod { margin-left: 5%; }
    .threed { margin-right: 5%;}

}
